services:
  exporter:
    image: ghcr.io/gladioluss/docker_healthcheck_exporter:latest
    container_name: docker-healthcheck-exporter
    environment:
      LISTEN: 0.0.0.0:9102
      REFRESH_INTERVAL_SECONDS: "5"
      METRICS_FILE: /textfile/docker_healthcheck_exporter.prom
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./textfile:/textfile

  healthy-app:
    image: alpine:3.20
    container_name: healthy-app
    command: ["sh", "-c", "while true; do sleep 30; done"]
    healthcheck:
      test: ["CMD-SHELL", "exit 0"]
      interval: 5s
      timeout: 2s
      retries: 1
